body
{
    margin: 0px;
}

.header {
    color: white;
    background-color: rgb(31, 41, 55);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 100px;
}

div .header-left {
    display: flex;
}

div .header-right {
    display: flex;
    gap: 20px;
}

.top {
    background-color: rgb(31, 41, 55);
    color: white;
    display: flex;
    justify-content: center;   
    align-items: flex-start;
    padding: 50px;
}

.top-left, .top-right {
    padding: 20px;
}

.top-left h2 {
    font-size: 48px;
}

.top-left button {
    color: white;
    background-color: rgb(59, 130, 246);
    border-radius: 7px;
    padding: 5px 30px;
    font-weight: bold;
}

.top-right img {
    display: flex;
}


.middle {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

h2 {
    text-align: center;
}

.box {
    text-align: center;
    justify-content: space-around;
    padding: 5px;
    box-sizing: border-box;
}

.box img {
    border-radius: 20px;
    border: 2px solid rgb(59, 130, 246);
}

.quote-section {
    background-color: rgb(229, 231, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    font-size: 25px;
    padding: 50px 500px;
    font-style: italic;
    justify-content: center;
    align-items: center;
}

.quote h3 {
    font-size: 15px;
}

#attribution{
    text-align: right;
}

.blue-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgb(59, 130, 246);
    color: white;
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
}

.blue-box-text {
    padding: 0px 50px;
    flex-direction: column;
}

.blue-box button {
    padding: 5px 30px;
    margin: auto 50px;
    color: white;
    background-color: rgb(59, 130, 246);
    border-radius: 5px;
    border: 2px solid white;
}

.footer {
    color: white;
    background-color: rgb(31, 41, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}